* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921:  #131921;
  --color-3b4149:  #3b4149;
  --color-febd69:  #febd69;
  --color-232f3e:  #232f3e;
  --color-bf4800:  #bf4800;
}
body {
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
.form-control:focus {
  box-shadow:none;
  border-color:inherit;
}

.header-upper.header-upper-links img{
  height: 35px;
  width: 35px;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.header-bottom{
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size : 14px;
  line-height: 18px;
  font-weigh : 400;
  letter-spacing : .3;
  text-emphasis: none;
}

.header-bottom .dropdown button:focus{
   box-shadow: none;
}

.header-bottom .dropdown-menu{
   width: 100%;
   background-color:  var(--color-232f3e);
   transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item:hover {
   background-color : transparent;
   color : var(--color-febd69) !important;
}

.header-bottom .dropdown-item {
   padding: 20px;
   margin-bottom : 3px;
   border-bottom : 1px solid var(--color-3b4149);
}
/* header ends */

/* footer start */
footer {
   background-color : var(--color-232f3e);
}
footer:not(:first-child){
   border-top:1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text{
   background-color: var(--color-232f3e);
   color: white;
   padding: 8px 17px;
}
/* footer end */
/* home start */
.main-banner-content {
   top : 15%;
   left : 5%;
}

.main-banner-content h4{
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   color: var(--color-bf4800);
   margin: 0 0 12px;
   letter-spacing: 0.3px;
   text-transform: uppercase;
}
